{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="flex items-center justify-center h-screen bg-gray-900">
    <h1 class="text-5xl font-bold text-white">Hello World 👋</h1>
</div>
{% endblock %}
